.header {
  background-color: #000;
  color: #eee;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 10%;
  min-width: 100px;
}

.link {
  padding: 1em;
  font-size: 2em;
}

.link:link, .link:visited, .link:active {
  color: #eee;
  text-decoration: none;
}

.link:hover {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}
