.header {
  background-color: #000;
  color: #eee;
  display: flex;
  justify-content: space-around;
}

.logo {
  height: 100px;
}

.facebook {
  height: 100px
}

.link:link, .link:visited, .link:active {
  color: #eee;
  text-decoration: none;
}

.link:hover {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}
