.music {
  text-align: left;
  display: inline-block;
}

.music td, th{
  padding: .5em;
}

a:link, a:visited, a:active {
  color: #eee;
  text-decoration: none;
}

a:hover {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}
